*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
font-family: sans-serif;
}
body{
background-color:#0d0d0dbc;
display: flex;align-items: center;
justify-content: center;
height: 100vh;
}
.form{
    background: #0d0d0d66;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px #0d0d0d72 ;
    width: 320px;
    text-align: center;

}
h2{
    color:#fff;
    margin-bottom: 20px;
}
.box{
    position: relative;

    margin: 20px 0;
}
.box input{
    width: 100%;padding:12px 15px;
    background: none;
    border: none;
    outline: none;
    color:#fff;
font-size: 18px;
border-bottom:2px solid #0d0d0d6d;
transition: 0.4s;

}
.box input:focus{border-radius: 20px;
    border-color: #00ffff;
    box-shadow: 0 5px 15px #0d0d0da1;

}
.box span{
    position: absolute;
    color: #efebeb37;
    top:50%;

    left: 15px;
font-size: 16px;transition: 0.4s;
transform:translateY(-50%);
pointer-events: none;


}
.box input :focus +span ,
.box input:not(:placeholder-shown) + span
{
top:5px;
font-size: 12px;
color: #00ffff;
}
.sub{
    background: linear-gradient(90deg,#00ffff,#00ff80);
    border:none;padding: 12px 30px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 20px;
}
.sub:hover{
    background: linear-gradient(90deg,#00ff80,#00ffff);
box-shadow: 0 5px 15px #00ffff80;
}
.icon{
    border: none;
    background: none;
    position: absolute;
    right:30px;
    bottom: 10px;cursor: pointer;
}
.icon1{
    border: none;
    background: none;
    position: absolute;
    right:30px;
    bottom: 10px;
    cursor: pointer;
}
.hide{
    display: none;

}